</div>
<div class="footer">
    <ul>
        <li class="blue-text">Home</li>
        <li class="slash">/</li>
        <li class="blue-text">About</li>
        <li class="slash">/</li>
        <li class="blue-text">Contact</li>
    </ul>
</div>


</body>
</html>