<!DOCTYPE html>
<html>
    <head>
        <title>Star Wars</title>
        <link rel="stylesheet" href="./styles.css">
    </head>
    <body>
        <div class="navbar">
            <ul>
                <li id="logo"><h1>STAR WARS</h1></li>
            </ul>
        </div>
        <div class="container">