<% include partials/header.ejs %>


<form action="/results" method="get">
    <label>Star Wars Characters! Pick a number from 1 to 10!</label><br>
    <input type="text" name="theNumber" placeholder="Enter your number"><br>
    <button type="submit">OK</button>
</form>



<% include partials/footer.ejs %>