<% include partials/header.ejs %>

<div class="container">
    <h3>Name:</h3>
    <h5><%= thePerson.name %></h5>

    <h3>Height: </h3>
    <h5><%= thePerson.height %>cm</h5>

    <h3>Hair Color:</h3>
    <h5><%= thePerson.hair_color %></h5>
</div>




<% include partials/footer.ejs %>